<div class="row thanks">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-4">
      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order.product %>
      </h1>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.cost_in_cents %></strong>
    </div><!-- /col -->
  <% end %>
</div>