

  
        <div class="padding-section center " >
                <%= image_tag("3.jpg", class:"img-responsive ") %>
        </div>

 <div class=" text-center ">
  <h1>About us</h1>
  <h3 class="padding-section"> Since 2017</h3>
  <p>  Ride Company was founded in 2017 by a group of bicycle enthusiasts<br/>

    Our mission is to introduce high quality, stylish and affordable bicycles to the world.</p>
    </div>
        <div class="text-center about2" >
         <p>Ride Bicycle Company was founded in 2017 by a group of friends who were obsessed with   bicycles With a shared determination and vision, we set out to introduce high performance, stylish and affordable bicycles to the planet.
 Fast forward twenty three years and we're still doing what we love _ putting our passion for design, simplicity and community into every bicycle we create and working day and night at our headquarters to make you fall in love with your daily commute</p>
            <p class="padding-section">We are Sunrise team - a team of enthusiastic designers, marketers and developers who are specialized in creating professional premium WordPress themes.
       Our mission is to build user–friendly, clean and modern designs in order to help more users improve their livelihood.</p>
        </div>
    </div>

