<div class="panel panel-default">
  <div class="panel-body contact-form">
    <p class=" thanks">Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->